In [4]:
user_name = input('What is your name?')

What is your name? Jun

In [5]:
print('How you doin',user_name,'!')

How you doin Jun !

In [41]:
user_name = input('What is your name?')

What is your name? Tim

In [42]:
user_age = input('What is your age?')

What is your age? 20

In [43]:
print('My name is',user_name, 'and I am',user_age,'years old.')

My name is Tim and I am 20 years old.

In [61]:
pi = 3.141592653589793

In [64]:
print(f'The value of pi to 2 decimal places is: {pi:.2f}')

The value of pi to 2 decimal places is: 3.14

In [67]:
print(f'The value of pi to 3 decimal places is: {pi:.3f}')

The value of pi to 3 decimal places is: 3.142

In [68]:
print(f'The value of pi to 3 decimal places is: {pi:.4f}')

The value of pi to 3 decimal places is: 3.1416

In [88]:
print('Apple\t  $0.99\nBanana\t  $0.59\nOrange\t  $1.29')

Apple	  $0.99
Banana	  $0.59
Orange	  $1.29

In [40]:
fruits = ['Apple ','Banana','Orange']

In [41]:
cost = ['$ 0.99','$ 0.59','$ 1.29']

In [46]:
for index,fruit in enumerate(fruits):
    costs = cost[index]
    print(f'{fruit}'f'{cost[index]:>10}')

Apple     $ 0.99
Banana    $ 0.59
Orange    $ 1.29

In [47]:
for index,fruit in enumerate(fruits):
    costs = cost[index]
    print(f'{fruit}{cost[index]:>10}')

Apple     $ 0.99
Banana    $ 0.59
Orange    $ 1.29

In [17]:
user_score = input('Enter the student\'s score')

Enter the student's score 15

In [19]:
score = float(user_score)

In [20]:
if 70<=score<=100:
    print("The student's letter grade is: A")
elif 50<=score<=69:
    print("The student's letter grade is: B")
elif 35<=score<=49:
    print("The student's letter grade is: C")
elif 0<=score<=34:
    print("The student's letter grade is: Fail")
else:
    print('invalid score')

The student's letter grade is: Fail

In [38]:
def factorial(n):
    if n < 0:
        return "Invalid input"
    elif n == 0:
        return 1
    else:
        result = 1
        for number in range(1, n+1):
            result *= number
        return result


print(factorial(5))  # Testing, expected output: 120
print(factorial(-1))  # Testing, expected output: Invalid input

120
Invalid input